@import './core/scss/base';

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
    text-decoration: none;
}

a:visited {
    color: currentColor;
}

#nprogress {
    pointer-events: none;
    .bar {
        @apply fixed top-0 left-0 w-full h-2;
        background-color: #9d0208;
        z-index: 1031;
    }
    .peg {
        @apply block absolute right-0 h-full;
        background-color: #9d0208;
        width: 100px;
        box-shadow: 0 0 10px #9d0208, 0 0 5px #9d0208;
        opacity: 1;

        -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
    }

    .spinner {
        @apply block fixed;
        z-index: 1031;
        top: 15px;
        right: 15px;
    }

    .spinner-icon {
        width: 18px;
        height: 18px;
        box-sizing: border-box;

        border: solid 2px transparent;
        border-top-color: #9d0208;
        border-left-color: #9d0208;
        border-radius: 50%;

        -webkit-animation: nprogress-spinner 400ms linear infinite;
        animation: nprogress-spinner 400ms linear infinite;
    }
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
    #nprogress .spinner,
    #nprogress .bar {
        position: absolute;
    }
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
